<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="serviceModalLabel">Edit Service</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body overflow-auto">
              <form action="{{ url_for('routes.edit_service') }}" method="post" id="editServiceForm">
                  <input type="hidden" name="service_id" id="service_id">
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="service_name" id="service_name" placeholder="Service Name" required>
                      <label for="service_name">Service Name</label>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="service_endpoint" id="service_endpoint" placeholder="Service Endpoint" required>
                      <label for="service_endpoint">Service Endpoint</label>
                      <button type="button" id="check_service" class="btn btn-primary btn-sm" onclick="checkServiceAvailability()">Check Availability</button>
                      <p id="statusDisplay"></p>
                  </div>
                  <div class="form-floating mb-3">
                      <textarea style="height:100px;" class="form-control" name="service_desc" id="service_desc" placeholder="Service Description" required></textarea>
                      <label for="service_desc">Service Description</label>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="service_version" id="service_version" placeholder="Service Version" required>
                      <label for="service_version">Service Version</label>
                  </div>
                  <div class="form-floating mb-3">
                      <select class="form-select form-select-lg mb-3" name="service_type" id="service_type" aria-label="Service Type" required>
                          <option value="" selected disabled>Select</option>
                          {% for service_type in service_types %}
                              <option value="{{ service_type.value }}">{{ service_type.value }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-floating mb-3">
                      Select dependencies:
                      {% if services %}
                        {% for svc in services %}
                          <div class="p-1 m-1 d-inline-block rounded bg-body-tertiary">
                              <input class="form-check-input" name="services" type="checkbox" id="service{{ svc.id }}" value="{{ svc.id }}" aria-label="...">
                              <label class="form-check-label" for="service{{ svc.id }}">{{ svc.name }}</label>
                          </div>
                        {% endfor %}
                      {% else %}
                          <p>No services found</p>
                      {% endif %}
                  </div>
                  <div class="form-floating mb-3">
                      Select tags:
                      {% if tags %}
                      {% for tag in tags %}
                          <div class="p-1 m-1 d-inline-block rounded bg-body-tertiary">
                              <input class="form-check-input" name="tags" type="checkbox" id="checkbox{{ tag.id }}" value="{{ tag.id }}" aria-label="...">
                              <label class="form-check-label" for="checkbox{{ tag.id }}">{{ tag.name }}</label>
                          </div>
                      {% endfor %}
                      {% else %}
                          <p>No tags found</p>
                      {% endif %}   
                  </div>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" id="submitButton">Save changes</button>
              </form>
          </div>
          <div class="modal-footer">
              Footer
          </div>
      </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var serviceModal = document.getElementById('serviceModal');
      serviceModal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget; // Button that triggered the modal#

        // check if button has no data-service-id
        // values for adding a service
        if (button.getAttribute('data-service-id') == null) {
            console.log("null")
            document.getElementById("submitButton").innerHTML = "Add service";
            document.getElementById("serviceModalLabel").innerHTML = "Add service";
            document.getElementById("editServiceForm").action = "{{ url_for('routes.add_service') }}";
          return;
        }

        // values for editing a service
        document.getElementById("submitButton").innerHTML = "Save changes";
        document.getElementById("serviceModalLabel").innerHTML = "Edit service";
        document.getElementById("editServiceForm").action = "{{ url_for('routes.edit_service') }}";
          
        // receive all values passed with/from the button via data attributes
        var serviceId = button.getAttribute('data-service-id');
        var serviceName = button.getAttribute('data-service-name');
        var serviceEndpoint = button.getAttribute('data-service-endpoint');
        var serviceDescription = button.getAttribute('data-service-description');
        var serviceVersion = button.getAttribute('data-service-version');
        var serviceType = button.getAttribute('data-service-type');
        // json parse coz json received to send list of services/tags
        var serviceDependencies = JSON.parse(button.getAttribute('data-service-dependencies'));
        var serviceTags = JSON.parse(button.getAttribute('data-service-tags'));
        
        console.log(serviceDependencies)
        console.log(serviceTags)
        serviceDependencies.forEach(function(dependency) {
          console.log("dependencies: " + dependency.name)
        })
  
        // Populate the modal fields with the data
        var modal = serviceModal;
        modal.querySelector('#service_id').value = serviceId;
        modal.querySelector('#service_name').value = serviceName;
        modal.querySelector('#service_endpoint').value = serviceEndpoint;
        modal.querySelector('#service_desc').value = serviceDescription;
        modal.querySelector('#service_version').value = serviceVersion;
        modal.querySelector('#service_type').value = serviceType;
        modal.querySelector('#check_service').value = serviceId;
        
        document.getElementById('statusDisplay').innerHTML = '';

        
        const element = document.getElementById("service" + serviceId);
            if (element) {
                element.disabled = true;
            } else {
            }
        

        // Uncheck all checkboxes first
        // and disable input for current service (no self-dependency)
        var dependenciesCheckboxes = modal.querySelectorAll('input[name="services"]');
        dependenciesCheckboxes.forEach(function(checkbox) {
            if (checkbox.value == serviceId) {
                checkbox.disabled = true;
            } else {
                checkbox.disabled = false;
            }
            checkbox.checked = false;
        });
        
        var tagsCheckboxes = modal.querySelectorAll('input[name="tags"]');
        tagsCheckboxes.forEach(function(checkbox) {
          checkbox.checked = false;
        });
  
        // Check the appropriate checkboxes for dependencies
        dependenciesCheckboxes.forEach(function(checkbox) {
          serviceDependencies.forEach(function(dependency) {
            if (dependency.id == checkbox.value) {
                checkbox.checked = true;
            }
          });
        });
  
        // Check the appropriate checkboxes for tags
        tagsCheckboxes.forEach(function(checkbox) {
          serviceTags.forEach(function(tag) {
            if (tag.id == checkbox.value) {
                checkbox.checked = true;
            }
          });
        });
      });
    });
  </script>
<script>
    function checkServiceAvailability() {
        // retrieve vlaue
        document.getElementById(`statusDisplay`).innerHTML = `
        <div class="spinner-border spinner-border-sm text-white" role="status">
            <span class="sr-only"></span>
        </div>
        `;
        var serviceEndpoint = document.getElementById('service_endpoint').value;
        console.log(serviceEndpoint)
        if (!serviceEndpoint) {
            alert('Please enter service endpoint');
            return;
        }
        // perform ajax
        $.ajax({           
            url: "/check_endpoint",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ service_endpoint: serviceEndpoint }),
            success: function(response) {
                if (response.status == "up") {
                    $("#statusDisplay").html('<span class="badge text-bg-success">' + response.status + '</span>');
                } else if (response.status == "down") {
                    $("#statusDisplay").html('<span class="badge text-bg-danger">' + response.status + '</span>');
                } else {
                    $("#statusDisplay").html('<span class="badge text-bg-warning">' + response.status + '</span>');
                }
            },
            error: function(error) {
                $("#statusDisplay").html('<span class="badge text-bg-danger">Error checking service availability</span>');
            }
        });
    }
</script>