{% extends "layout.html" %}
{% block main %}
{% from "macros.html" import services_table_admin, tags_list %}
<script>
  async function checkServiceAvailability() {
      const endpoint = document.getElementById('service_endpoint').value;
      const statusDisplay = document.getElementById('statusDisplay');

      if (!endpoint) {
        console.log('no endpoint')
        statusDisplay.textContent = 'Please enter a service endpoint';
        statusDisplay.style.color = 'red';
        return;
      } else {
          try {
              const response = await fetch(endpoint);
              console.log(response)
              if (response.ok) {
                  statusDisplay.textContent = 'Service is available';
                  statusDisplay.style.color = 'green';
              } else if (response) {
                
              }
              else {
                  statusDisplay.textContent = `Service returned status: ${response.status}`;
                  statusDisplay.style.color = 'orange';
              }
          } catch (error) {
              statusDisplay.textContent = 'Service is unavailable';
              statusDisplay.style.color = 'red';
          }
        }
      }
</script>
<div  class="p-4">
  <div class="d-flex gap-4 align-items-center">


  <h2>Table of services</h2>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#serviceModal">
    Add new service
  </button>
  
</div>
  {{ services_table_admin(services) }}

</div>

<div  class="shadow-sm p-4 mt-4 mb-4">

  <div class="d-flex gap-4 align-items-center">


    <h2>Tags</h2>
  
  
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tagModal">
      Add new tag
    </button>
    
  </div>
  {{ tags_list(tags) }}
</div>
  <!-- Modal service -->
  <div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="serviceModalLabel">Add new service to list</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body overflow-auto">

          <form action="{{url_for('routes.add_service')}}" method="post" id="addService">

              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="service_name" id="service_name" placeholder="service_text" required>
                <label for="service_name">service name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="service_endpoint" id="service_endpoint" placeholder="service_endpoint" required>
                <label for="service_endpoint">service_endpoint</label>        
                <button type="button" class="btn btn-primary btn-sm" onclick="checkServiceAvailability()">Check Availability</button>
                <p id="statusDisplay"></p>
              </div>
              <div class="form-floating mb-3">
                <textarea style="height:100px;" class="form-control" name="service_desc" id="service_desc" placeholder="service_desc" required></textarea>
                <label for="service_desc">service_desc</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="service_version" id="service_version" placeholder="service_version" required>
                <label for="service_version">service_version</label>
              </div>
              <div class="form-floating mb-3">
                Select dependencies:
                  {% for service in services %}      
                  <div class="p-1 m-1 d-inline-block rounded  bg-body-tertiary">   
                  <input class="form-check-input" name="services" type="checkbox" id="service{{service.id}}" value="{{service.id}}" aria-label="...">
                      
                  <label class="form-check-label" for="service{{service.id}}">
                    {{service.name}}
                  </label>     
                </div>
                  {% endfor %}
              </div>
              <div class="form-floating mb-3">
                Select tags:
                  {% for tag in tags %}      
                  <div class="p-1 m-1 d-inline-block rounded bg-body-tertiary">   
                  <input class="form-check-input" name="tags" type="checkbox" id="checkbox{{tag.id}}" value="{{tag.id}}" aria-label="...">
                      
                  <label class="form-check-label" for="checkbox{{tag.id}}">
                    {{tag.name}}
                  </label>     
                </div>
                  {% endfor %}
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
  
        </div>
        <div class="modal-footer">
          footer
        </div>
      </div>
    </div>
  </div>

  <!-- Modal tag -->
  <div class="modal fade" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tagModalLabel">Add new tag</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3">
            <form action="{{url_for('routes.add_tag')}}" method="post" id="addTag">
              <input type="text" class="form-control" name="tag_name" id="tag_name" placeholder="tag_name" required>
              <label for="tag_name">tag name</label>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
          </div>
          </div>
          <div class="modal-footer">
   footer
          </div>
      </div>
      
    </div>
  </div>


{% endblock %} 

